@inject SavEdit SE
@inject PkmEdit PE
@page "/"

@if (SE.SAV == null)
{
  <PageTitle>PKHeX.Web</PageTitle>
  <h1>Please upload a save file.</h1>
}
else
{
  <PageTitle>@SE.SAV.Metadata.FileName</PageTitle>
  <MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.Large">
    <MudGrid Justify="Justify.Center">
      <MudItem xs="12" sm="5">
        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
          <MudTabPanel Text="Main">
            <MainPokemon />
          </MudTabPanel>
          @if (SE.SAV.Generation >= 3)
          {
            <MudTabPanel Text="Met">
              <MudText>Content Two</MudText>
            </MudTabPanel>
          }
          <MudTabPanel Text="Stats">
            <MudText>Content Three</MudText>
          </MudTabPanel>
          <MudTabPanel Text="Attack">
            <MudText>Content Disabled</MudText>
          </MudTabPanel>
          <MudTabPanel Text="OT/Misc">
            <MudText>Content Disabled</MudText>
          </MudTabPanel>
        </MudTabs>
      </MudItem>

      <MudIconButton @onclick="(e => PE.IsSetLeft = !PE.IsSetLeft)"
      Icon="@(PE.IsSetLeft ? Icons.Material.Filled.ArrowBack : Icons.Material.Filled.ArrowForward)"
      Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Class="ma-2" />

      <MudItem xs="12" sm="6">
        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6 mx-auto">
          <MudTabPanel Text="Box">
            <Box />
          </MudTabPanel>
          <MudTabPanel Text="Party">
            <Party />
          </MudTabPanel>
          <MudTabPanel Text="Other">
            <MudText>Content Three</MudText>
          </MudTabPanel>
          <MudTabPanel Text="SAV">
            <MudText>Content Disabled</MudText>
          </MudTabPanel>
        </MudTabs>
      </MudItem>
    </MudGrid>
  </MudContainer>
}

@code {
  protected override void OnInitialized()
  {
    SE.OnChange += StateHasChanged;
  }
}
