<MudText Typo="Typo.body1" Class="pa-4">
  <MudLink Href="https://github.com/aymeric-giraudet/PKHeX.Web">PKHeX.Web</MudLink> is a web front-end for <MudLink
    Href="https://github.com/kwsch/PKHeX">
    PKHeX</MudLink>
  made with Blazor WASM.<br />
  I want to give huge props to
  <MudLink Href="https://github.com/kwsch">Kaphotics</MudLink> and all the contributors to PKHeX !

  <MudDivider Class="my-4" />

  Other thanks to :
  <ul>
    <li>msikma for <MudLink Href="https://github.com/msikma/pokesprite">pokesprites</MudLink>
    </li>
    <li>Andreuvv for the <MudLink Href="https://commons.wikimedia.org/wiki/File:Pok%C3%A9_Ball_icon.svg">Pokéball SVG
      </MudLink>
    </li>
  </ul>

</MudText>