@using PKHeX.Core;
@inject Services.PokemonEditorService PokemonEditorService;

<table>
  @for (var rowId = 0; rowId < (Cells / RowSize); rowId++)
  {
    <tr>
      @for (var cellId = 0; cellId < RowSize; cellId++)
      {
        var index = rowId * RowSize + cellId;
        var pokemon = PokemonList.ElementAtOrDefault(index);
        <td @onclick="@(() => ChangePokemon(pokemon, index))">
          <PokemonWithItem Pokemon="pokemon" />
        </td>
      }
    </tr>
  }
</table>

@code {
  [Parameter]
  public IList<PKM> PokemonList { get; set; }
  [Parameter]
  public int RowSize { get; set; }
  [Parameter]
  public int Cells { get; set; }
  [Parameter]
  public Action<int> SetPokemon { get; set; }

  protected void ChangePokemon(PKM? pokemon, int index)
  {
    if (pokemon == null || pokemon.Species == 0) return;

    if (PokemonEditorService.IsSetLeft)
    {
      PokemonEditorService.Pokemon = pokemon.Clone();
    }
    else
    {
      SetPokemon(index);
    }
  }
}